{% extends "base_template.html" %}
{% block title %}
    Listado de posts
{% endblock %}
{% block content %}
<div>
    <a href="{{ url_for('admin.post_form') }}">Añadir entrada</a>
</div>
<h2>Listado de entradas</h2>
<ul>
    {% for post in posts %}
    <li>
        <!-- le vamos a redigiria  la ruta "/admin/post/<int:post_id>/" y le pasamos el post_id para que lo 
        identifique. Notese que LE PASASOS EL MANEJADOR ASOCIADO A LA RUTA ejem. def update_post_form(post_id) -->
        <a href="{{ url_for('admin.update_post_form', post_id=post.id) }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}